html,
body,
h1,
h2,
h3,
a,
button,
input,
textarea,
select {
  cursor: none !important;
  user-select: none;
}

.w-webflow-badge {
  display: none !important;
}

.mira-canvas {
  width: 100%;
  height: 100svh;
}

#mira-canvas {
  width: 100%;
  height: 100%;
}
